.main {  
  float: left;  
  position: relative;
  text-align: center;
}

.update-button {  
  position: fixed;
  bottom: 10px;
  cursor: pointer;
  animation: fadein 2s ease-out;
}

@keyframes fadein {
    from { left: -100%; }
    to { left: 2rem; }
  }